<div class="col-md-4 my-card" data-id="<%= portfolio_item.id %>">
  <div class="card mb-4 box-shadow">
    <%= image_tag portfolio_item.thumb_image, class:"card-img-top" unless portfolio_item.thumb_image.nil?%>
    <div class="card-body">
      <p class="card-text">
        <p><%= portfolio_item.title %></p>
        <p><%= portfolio_item.subtitle %></p>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to "View", portfolio_show_path(portfolio_item), class:"btn btn-sm btn-outline-secondary", role:'button' %>
          <%= link_to "Edit", edit_portfolio_path(portfolio_item), class:"btn btn-sm btn-outline-secondary", role:'button' if logged_in?(:site_admin) %>
        </div>
      </div>
    </div>
  </div>
</div>